<script type="text/html" data-help-name="HC-001AC">
    <p>株式会社S&Dシステムズ 人感センサー HC-001AC ノード</p>
    <h3>Outputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">JSON</span>
        </dt>
        <dd>人数カウント値と検出した画素番号を出力します</dd>
        <dd>
<pre>
{ 'humanCount': { 
        'count': Number, 
        'elements': ["01", "02", ... ] 
    } 
}
</pre>
        </dd>
        </dl>
    <h3>Details</h3>
        <dl class="message-properties">
        <dt>ポート</dt>
        <dd>シリアルポートのデバイス名を設定します。(例: /dev/ttyUSB0 )</dd>
        <dt>初期環境画像取得要求</dt>
        <dd>フロー起動時に初期環境画像を取得します。初期環境差分モード、および環境差分自動取得モードをONにする場合は、必ずチェックして下さい。</dd>
        <dt>初期環境差分モード</dt>
        <dd>初期環境差分モードを切り替えます。チェックボックスをチェックすると、初期環境差分モードがONになります。</dd>
        <dt>環境差分自動取得モード</dt>
        <dd>環境差分自動取得モードを切り替えます。チェックボックスをチェックすると、環境差分自動取得モードがONになります。</dd>
        <dt>人体閾値</dt>
        <dd>人体の判定基準となる閾値を設定します。設定範囲は0~99です。</dd>
        <dt>初期環境差分閾値</dt>
        <dd>環境差分自動取得モードがONの場合に使用される閾値を設定します。設定範囲は0~99です。</dd>
        </dl>
</script>