<script type="text/javascript">
    RED.nodes.registerType('HC-001AC',{
        category: 'sensor',
        color: '#91B121',
        defaults: {
            name: {value:""},
            port: {value:""},
            init_image_req: {value:false},
            mode_init_image: {value:false},
            mode_auto_env_update: {value:false},
            human_threshold: {value: 16, validate:function(v) {
                if (RED.validators.number()) {
                    if ((v >= 0) && (v <= 99)) {
                        return true;
                    }
                }
                return false;
            }},
            env_threshold: {value: 16, validate:function(v) {
                if (RED.validators.number()) {
                    if ((v >= 0) && (v <= 99)) {
                        return true;
                    }
                }
                return false;
            }}
        },
        inputs:1,
        outputs:1,
        inputLabels:'trigger',
        outputLabels: 'sensor data',
        icon: "font-awesome/fa-user",
        label: function() {
            return this.name||"HC-001AC";
        }
    });
</script>

<script type="text/html" data-template-name="HC-001AC">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i><span data-i18n="HC-001AC.property.name"></span></label>
        <input type="text" id="node-input-name">
    </div>
    <div class="form-row">
        <label for="node-input-port"><i class="icon-tag"></i><span data-i18n="HC-001AC.property.port"></label>
        <input type="text" id="node-input-port">
    </div>
    <div class="form-row">
        <label for="node-input-init_image_req"><i class="icon-tag"></i><span data-i18n="HC-001AC.property.init_image_req"></label>
        <input type="checkbox" id="node-input-init_image_req">
    </div>
    <div class="form-row">
        <label for="node-input-mode_init_image"><i class="icon-tag"></i><span data-i18n="HC-001AC.property.mode_init_image"></label>
        <input type="checkbox" id="node-input-mode_init_image">
    </div>
    <div class="form-row">
        <label for="node-input-mode_auto_env_update"><i class="icon-tag"></i><span data-i18n="HC-001AC.property.mode_auto_env_update"></label>
        <input type="checkbox" id="node-input-mode_auto_env_update">
    </div>
    <div class="form-row">
        <label for="node-input-human_threshold"><i class="icon-tag"></i><span data-i18n="HC-001AC.property.human_threshold"></label>
        <input type="text" id="node-input-human_threshold">
    </div>
    <div class="form-row">
        <label for="node-input-env_threshold"><i class="icon-tag"></i><span data-i18n="HC-001AC.property.env_threshold"></label>
        <input type="text" id="node-input-env_threshold">
    </div>
</script>

<script type="text/html" data-help-name="HC-001AC">
    <p>S＆D Systems Inc. Human Count Sensor HC-001AC Node</p>
    <h3>Outputs</h3>
        <dl class="message-properties">
        <dt>payload
            <span class="property-type">JSON</span>
        </dt>
        <dd>Outputs the number of people and the detected pixel numbers.</dd>
        <dd>
<pre>
{ 'humanCount': { 
        'count': Number, 
        'elements': ["01", "02", ... ] 
    } 
}
</pre>
        </dd>
        </dl>
    <h3>Details</h3>
        <dl class="message-properties">
        <dt>Port</dt>
        <dd>Set the device name of the serial port. (e.g., /dev/ttyUSB0 )</dd>
        <dt>Background Image Acquisition</dt>
        <dd>Acquires the background image when the flow starts. If you want to turn on the Background Image Comparison Mode  or the Background Image Auto Update Mode, be sure to check the checkbox.</dd>
        <dt>Background Image Comparison Mode</dt>
        <dd>Switches the Background Image Comparison Mode. Check the checkbox to turn on the Background Image Comparison Mode.</dd>
        <dt>Background Image Auto Update Mode</dt>
        <dd>Switches the Background Image Auto Update Mode. Check the checkbox to turn on the Background Image Auto Update Mode.</dd>
        <dt>Human Detection Threshold</dt>
        <dd>Set the threshold for judging the human body. The setting range is 0 to 99.</dd>
        <dt>Background Image Update Threshold</dt>
        <dd>Set the threshold to be used when the Background Image Auto Update Mode mode is turned on. The setting range is 0 to 99.</dd>
        </dl>
</script>